#register {
    width: 50%;
    margin: auto auto 50px;
    border: 1px solid #7c6a0a;
    box-shadow: 1px 1px 1px 1px #7c6a0a;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    opacity: 0.6;
    filter: alpha(opacity=40);
}

#registration{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #7c6a0a;
}

.registerLabel {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategrey;
}
